.ReactVirtualized__Table__headerRow {
  text-transform: initial;
}

.ReactVirtualized__Table__row:hover {
  background-color: var(--chakra-ring-color);
}

.chakra-editable__preview {
  width: 100%;
  line-height: 1;
}
